{{#if approved}}
  <p>Parabéns, seu cadastro foi aprovado!!!</p>
  <p>O nome do usuário é {{usuario.nome}} {{usuario.sobrenome}} e ele tem {{usuario.idade}} </p>
{{else}} 
  <p>O seu cadastro necessita de aprovação para acesso total do sitema!</p>
{{/if}}
