<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Listagem de clientes</h1>
    <table id="clientes">  
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>telefone</th>
          </tr>
        </thead>
        <tbody>
          <a href="/clientes/1">
            <tr>
              <td>1</td>
              <td>Pedro</td>
              <td>5555-5555</td>
            </tr>
          </a>
          <tr>
            <td>2</td>
            <td><a href="/clientes/2">Maria</a></td>
            <td>8888-8888</td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="/clientes/3">José</a></td>
            <td>2222-2222</td>
          </tr>
        </tbody>
      </table>    
</body>
</html>